# Core LangChain stack
langgraph
langchain
langchain-community
langchain-qdrant
langchain-huggingface
langchain_groq
langchain-core
langchain-google-genai

# Vector DB
qdrant-client

# Embeddings / ranking
fastembed
flashrank
sentence-transformers

# UI
gradio

# HuggingFace
transformers
huggingface_hub

# PDF / document ingestion
pymupdf
pymupdf4llm
pdfminer.six
python-docx
python-pptx
beautifulsoup4
requests
Pillow
pytesseract
pandas
lxml

# ML / math
numpy
scikit-learn

# Monitoring
psutil
GPUtil
prometheus_client
matplotlib
seaborn

# Env
python-dotenv
pydantic